#oopsHead {
    text-align: center;
    color: white;
    background-image: url("../img/yallow-home.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #oopsTitle {
      color: rgb(199, 131, 4)
  }

  #logInOops {
      background-color: #fed136;
      border-color: #fed136;
      font-size: 18px;
      padding: 20px 40px;
      font-weight: 700;
  }